/* CSS Document */
#tap4 {
		margin-left:20px;
}
label {
	float:left;
}
input {
	float: right;
	margin: 0px 40px 10px 0px;
	width: 160px;
	border: 2px black solid;
}
textarea {
	float: right;
	width: 210px;
	height: 150px;
	margin:0px 40px 10px 0px;
	border: 2px black solid;
}
#contactPic img:nth-child(1){
	margin: 30px 0px 0px 60px;
	-webkit-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform:rotate(-20deg);
}
#contactPic img:nth-child(2){
	-webkit-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	transform:rotate(20deg);
	margin: 0px 0px 0px 40px;
}
input[type="submit"] {
	border: 2px black solid;
	width: 90px;
	font-weight:bold;
	cursor:pointer;
}
input[type="submit"]:hover {
	border: 2px #808080 solid;
	background-color:#F0F0F0;
	font-weight:bold;
	color: #808080;
}
